
.proyects{
    min-height: 100vh;
    
}

.section-proyects{
    position: relative;
    top:100px;
    display: flex;
    margin: auto;
    width: 100%;
    max-width: 1000px;
}

.figure  {
    width: 0px;
    height: auto;
    background-color:  rgb(91, 91, 91);
    border: 1px solid black;
    box-shadow: 1px  1px 4px black;
    display: flex;
    align-items: center;
    flex-grow: 1;
    transition: .25s ease;
    overflow: hidden;
}

 .section-proyects  .figure:hover {
    background-color:   rgb(91, 91, 91);
    width: 50px;
    border-radius:10px;
    height: 470px;
    transform: scale(120%);
    z-index: 1;
} 

#figure{
    height:470px ;
}

.figure:nth-last-child(-n + 1){
    border-radius: 0px 10px 10px 0px;
}

.figure:nth-child(1){
    border-radius: 10px 0px 0px 10px;
    box-shadow: 0px 0px 4px black;
} 

.title-proyect{
    display: none;
}

.container-img-proyects{
    height: 100%;
    width: 100%;
}

.container-img-proyects > .img-proyects{
    width: 100%;
    object-fit: cover;
    height: 100%;
  
}

.container-img-proyects:hover > .img-proyects{
    filter: brightness( 70%);
}

.h1-proyects{
    display: none;
}

.container-h1:hover{
    display: block;
    width: 100%;
}

.figure:hover >  h1{
    filter: drop-shadow(rgb(28, 36, 35) 10px 5px 0.3rem);
    text-align: center;
    bottom: 40px;
    position: absolute;
    width: 100%;
    display:block;
    color: white;
    font-size: 25px;
}

@media(max-width:490px){

 .section-proyects{
    flex-direction: column;
    margin-bottom: 100px;
 }
    



        .section-proyects{
            top: 50px;
            flex-direction: column;
            align-items: center;
            width: auto;      
            height:600px !important;
        }
        .section-proyects  .figure:hover {
            transform: none !important;
            height: 470px !important;
            transition: none !important;  
            border-radius: 0px !important;
        }
    
        .div-parrafo-proyectos{
            width: 270px !important;
            margin: auto !important;
        }
        .parrafo-proyectos{
            font-size: 15px !important;
        }
    
        .container-img-proyects > .img-proyects {
            width:100% !important;
            max-width: 100%;
            object-fit: cover;
            margin-top: 0px !important;
            height: 100% !important;
     
        }

        .figure > h1{
            
        }

        
        .figure:hover >  h1{
            display: none;
        }
    
    
        .figure{
            width: 90% !important;
            margin: 5px auto auto auto;
            transform: none !important;
            
        }

        .container-img-proyects:hover > .img-proyects{
            filter: brightness( 100%);
        }

        .figure:hover > .container-info-proyect{
            display: none !important;;
        }
    
    
        .figure:hover > .h1-proyects{
            display: none;
        }
    
        .figure:nth-last-child(-n + 1){
            border-radius: 0px 0px 0px 0px !important;
        }
        
        
        .figure:nth-child(1){
            border-radius: 0px 0px 0px 0px !important;
            box-shadow: 0px 0px 4px black;
        } 

    
}

