.hard-skills{
    min-height: 100vh;
}



.tech-container{
  background-color: rgb(124, 124, 124);
  border-radius: 20px;
  box-shadow: 1px 1px 14px black;
    display: flex;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(11rem, 2fr));
    grid-auto-rows: 12rem;  
    gap: 3rem;
    padding: 1.3rem;
    width: 900px;
    max-width: auto;
}

.tech-container figure > img {
    width: 130px;
    height: 130px;
    object-fit: contain;
    max-width: 100%;
    
}

@media(max-width:1024px){


  .tech-container{

    grid-template-columns: repeat(auto-fit, minmax(6rem, 2fr));
    grid-auto-rows: 8rem;  
    gap:4rem;
    padding: 2rem;
    height: 550px;
    margin: auto;
    margin-top: 100px;
    width: auto;
    max-width: 650px;
  }
}

@media(min-width:1024px){
  .div-container{
    width: 100%;
    margin: auto;
    margin-top: 10rem;
    display: flex;
    justify-content: center;
  }
}

@media (prefers-reduced-motion: no-preference) {
    .react-logo img{
      animation: App-logo-spin infinite 20s linear;
    }

  }

  @media(max-width:490px){

  .tech-container{

    grid-template-columns: repeat(auto-fit, minmax(4rem, 2fr));
    grid-auto-rows: 4rem;  
    gap:3rem;
    padding: 2rem;
    height: auto;
    margin: 10px;

    width: auto;
  }
  }

  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }