.scroll{
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.nav-bar{
    backdrop-filter: blur(0.6rem);
    background: hsla(0,0%,5%,.329);
    border: 0.5px solid hsla(0,0%,100%,.064);
    border-radius: 3.8rem;
    bottom: 1rem;
    box-shadow: 5px 5px 5px rgb(3 3 3 / 100%);
    left: 50%;
    position: fixed;
    transform: translateX(-50%);
    width: 52rem;
    z-index: 10;
}

.menu a {
    color: white;
    cursor: pointer;
    display: flex;
    font-size: 40px;
    font-weight: bold;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
    text-decoration: none;
    padding: 18px;
    transition: all 0.1s ease;
}

.inner{
    overflow: hidden;
}

.inner a{
    transition: all 1.5s ease;
}

.inner:hover a{
    transform:  scale(1.5);
}

.menu{
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
}



@media(max-width:1024px){
    .nav-bar{
        background: hsl(0deg 0% 5% / 54%);
        border-radius: 0;
        bottom: 0px;
        height:85px ;
        width: 100%;
    }
}

@media(max-width:1024px){
    .menu a{
        font-size: 30px;
        margin-left:0px;
        margin-right: 0px;
        margin-top: 7px;
    }

}



    


