.apply-list{
    padding: 30px;
   min-height: 100vh;
}

.apply-list h1 {
    margin-bottom: 50px;
    margin-top: 50px;
}

.apply-card{
    color: white;
    display:inline-block;
    margin-bottom: 10px;
    margin-left: 60px;
    width: 340px;
}


.apply-card-detail{
    display: flex;
}

.apply-card img{
    width: 100px;
    height: 100px;
}

.apply-card-info{
    margin-left: 10px;
    width: 100%;
    max-width: 350px;
}

@media(max-width:1024px){
    .apply-list {
     margin-top: 55px;
     background-color: #fff7ed;
    } 
}

@media(max-width:1024px){
    .apply-list h1 {
     font-size: 15px;
    } 
}

@media(max-width:1024px){
  
    .apply-card img{
        width: 60px;
        height: 60px;
    }

    .apply-card-info{
        width: 100%;
        max-width: 250px;
    }

}

@media(max-width:1024px){
    .apply-card-info h3 {
        font-size: 15px;
        width: 210px;
    }
    .apply-card-info h4 {
        font-size: 12px;
    }
    .apply-card-info h5 {
        font-size: 12px;
    }
}
@media(max-width:1024px){
    .apply-card{
        color: white;
        display: flex;
        margin-left: 20px;
        width: 220px;
    }
}