.footer{
    color:white;
    background-color: rgb(3, 189, 154);
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
}

.footer > strong{
    margin: 10px;
}


@media(max-width:1024px){
    .footer{
        align-items: start;
        display: flex;
        font-size: 25px;
        justify-content: center;
        height: 130px;
    }
}