.about-me{
    min-height: auto;
}

.section-me{
    background-color: rgb(124, 124, 124);
    box-shadow: 1px 1px 14px black;
    border-radius: 20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
}

.section-me-text{
    margin: 20px;
}


@media(min-width:1024px){
    .section-me{
        margin: auto;
        width: 670px;
        height:780px;
        padding: 2rem;
    }

    .section-me-text{
        font-size: 1.1rem;
        line-height: 1.5rem;
        text-align: justify;
    }
}


@media(max-width:490px){
    .section-me{
        width: auto;
        padding: 1rem !important;
    }

    .about-me{
      padding: 1rem;
    }

}







