.about-me{
    min-height: auto;
  
    
}

.container-me{
    width: 100%;
    display: flex;
   justify-content: center;
}

.section-me{
    background-color: rgb(124, 124, 124);
    box-shadow: 1px 1px 14px black;
    border-radius: 20px;
    display:flex;
    justify-content: center;
    width: auto;
    margin: 10px;
}

.section-me-text{
    margin: 20px;
}


@media(min-width:1024px){
    .section-me{
        margin: 10px;
        width: auto;
        height:780px;
        padding: 2rem;
        max-width: 900px;
    }

    .section-me-text{
        font-size: 1.1rem;
        line-height: 1.5rem;
        text-align: justify;
    }
}

@media(max-width:1024px){

    .section-me{
        margin: 10px;
        width: auto;
        height:780px;
        padding: 2rem;
    }
}


@media(max-width:490px){
    .section-me{
        width: auto;
        padding: 1rem !important;
    }

    .about-me{
      padding: 1rem;
    }

}







